proj.android/
proj.linux/
proj.win8.1-universal/
proj.win10/
proj.win32/
Giris_Butonlari/
Kartlar/
Mağaza-Lig-Çıkartma Kitabı
Resources/
Santra/
Santra Gönderi/
cocos2d/
bin/
proj.android-studio/
proj.ios_mac/
Resources.zip/
backup-2016-03-21.zip/
backup-2016-05-23.zip/
backup-2016-05-24.zip/
backup-2016-07-25.zip/
backup-2016-11-15.zip/
